@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Comfortaa|Monoton|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700i,800,900&display=swap');
$Comfortaa: 'Comfortaa', cursive;
$Cinzel: 'Cinzel Decorative', cursive;
$Roboto: 'Roboto Condensed', sans-serif;
$Monoton: 'Monoton', cursive;
$Raleway: 'Raleway', sans-serif;
$light-black: rgba(0, 0, 0, 0.877);
$primary: rgba(31, 55, 165, 0.76);
$metallic-black: #28292a;
$metallic-red: #800000;
$metallic-red-org: #a91c19;
$cream-white: #fcfcfc;
$metallic-pink: #a2414e;
$white-creamy-background:#f5f5f5;
$input-black: rgba(0, 0, 0, 0.479);
$white-light-black-background: linear-gradient(90deg , rgba(0, 0, 0, 0.288) 0%, rgba(0, 0, 0, 0.288) 100%);
$toolbarAndButtonPack: rgba(124, 13, 13, 0.61);
// official colors
$officalBackground: rgba(26, 25, 25, 0.89);
$officalLeafyBackground: rgba(255, 255, 255, 0.021);
$officalElementBackgroundDark: rgba(255, 255, 255, 0.192);
$officalElementBackgroundLight: white;
$officalFontDark: white;
$officalFontLight: black;
$OfficialMetallicPink: #a2414e;
$officalShadow: rgba(0, 0, 0, 0.2);
$officialHid: #615d5d;


// Official Heading 
$officalFontWeight: 700;
$officalFontSize: 1.7rem;