{% extends "basic/index.html" %}
{% block javascritp %}
{% endblock %}
{% block body %}
<script>
        var csrfToken;
        csrfToken = '{{csrf_token}}'
        var is_user_authenticated  = '{{ user.is_authenticated }}';
        var login_redirect = "{% url 'login&signUp:log' slug='login' %}?next={{request.get_full_path|urlencode}}#" 
</script>
        <div class="displayPage__buttonBlock" style='display: block;'><button class="displayPage__buttonBlock--btn1" onclick="createDiscussTag()"><span></span></button><button class="displayPage__buttonBlock--btn2" onclick="scrollToTop()"></button></div>
        <div class="nestedDiscussion">
            <div class="nestedDiscussion__body">
                <div class="nestedDiscussion__collective">
                        <div class="nestedDiscussion__mainDiscuss">
                                <div class="discuss__nesting mainDiscussion__nesting nestedDiscussion__item">                  
                                    <div><span class="discuss__icon mainDiscussion__icon"></span>&ensp;<span class="mainDiscussion__mainHeading">{{Discord.title}}</span>&ensp;<span class="discuss__icon mainDiscussion__icon"></span>
                                        <br>
                                        <span class="discuss__intro mainDiscussion__subHeading">{{Discord.line}}</span>
                                        <div class="mainDiscussion__content" primaryType='discord' primaryId='{{Discord.discord_id}}' tag='{{ Discord.search_tag.all|join:", " }},'>{{Discord.main_data}}</div>
                                    </div>
                                    <div class="mainDiscussion__author">by: {{Discord.author}}</div>
                                </div>
                            
                        </div>
                        <div class="nestedDiscussion__relatedDiscuss">
                            {% for item in RelatedDiscord %}
                                <div class="nestedDiscussion__arrow"></div>
                                <div class="discuss__nesting mainDiscussion__nesting nestedDiscussion__item">                  
                                    <div><span class="discuss__icon mainDiscussion__icon"></span>&ensp;<span class="mainDiscussion__mainHeading">{{item.title}}</span>&ensp;<span class="discuss__icon mainDiscussion__icon"></span>
                                        <br>
                                        <a class="mainDiscussion__subHeadingLink" href="http://127.0.0.1:8000/discord/{{item.discord_id}}/"><span class="discuss__intro mainDiscussion__subHeading">{{item.line}}</span></a>
                                        <div class="mainDiscussion__content" primaryType='discord' primaryId='{{item.discord_id}}' tag='{{ item.search_tag.all|join:", " }},'>{{item.main_data}}</div>
                                    </div>
                                    <div class="mainDiscussion__author">by: {{item.author}}</div>
                                </div>
                            {% endfor %}
                                <!-- <div class="nestedDiscussion__arrow"></div>
                                <div class="discuss__nesting mainDiscussion__nesting nestedDiscussion__item">                  
                                    <div><span class="discuss__icon mainDiscussion__icon"></span>&ensp;<span class="mainDiscussion__mainHeading">ipsum dolor.</span>&ensp;<span class="discuss__icon mainDiscussion__icon"></span>
                                        <br>
                                        <span class="discuss__intro mainDiscussion__subHeading">Lorem ipsum dolor sit amet consectetur.</span>
                                        <div class="mainDiscussion__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio aut sapiente atque magnam nobis minima architecto eaque, reiciendis sed odit.</div>
                                    </div>
                                    <div class="mainDiscussion__author">by: Lorem ipsum dolor.</div>
                                </div>  -->
                               
                                
                        </div>
                        
                </div>
                <div class="mainDiscussion__editor--wrapper">
                            <div class="discuss__nesting mainDiscussion__intro mainDiscussion__editor">                  
                                <div><span class="discuss__icon mainDiscussion__editor--icon"></span>&ensp;<span class="mainDiscussion__intro--mainHeading">Editor</span>&ensp;<span class="discuss__icon mainDiscussion__editor--icon"></span>
                                    <br>
                                    <span class="discuss__intro mainDiscussion__intro--subHeading">Creditor with editor.</span>
                                </div>
                                <div></div>
                            </div>
                        <div class="mainDiscussion__editor--nesting" style="cursor: context-menu;">                  
                                <div><span class="discuss__icon mainDiscussion__icon"></span>&ensp;<span class="mainDiscussion__mainHeading mainDiscussion__editor--mainHeading"  id='editor-tag'>ipsum dolor.</span>&ensp;<span class="discuss__icon mainDiscussion__icon"></span>
                                    <br>
                                    <span class="discuss__intro mainDiscussion__subHeading mainDiscussion__editor--subHeading" contenteditable="true" id='editor-Heading'>Lorem ipsum dolor sit amet consectetur.</span>
                                    <textarea class="mainDiscussion__content mainDiscussion__editor--discordEditor" contenteditable="true" id='editor-content' required='required' placeholder="Write here.."></textarea>
                                </div><br>

                                <div class="mainDiscussion__editor--buttonHolder"><button class="button mainDiscussion__editor--button" type="submit" onclick="createDiscord()">Submit</button></div>
                        </div>
                </div>
                
            </div>
        </div>
{% endblock %}
{% block body_javascript %}
{% load static %}
<script src="{% static 'nestedDiscussion/javascripts/script.js' %}" type="text/javascript"></script>
{% endblock %}
